* {
    margin: 0;
    border: 0;
    padding: 0;
}

body {
    /* background: linear-gradient(
        to right,
        rgb(21, 201, 214),
        rgb(154, 127, 250)) ; */
    background: linear-gradient(
                to right,
                rgb(21, 201, 214),
                rgb(154, 127, 250)) ;
}

header {
    width: 100%;
    height: 54px;
    /* background-color: #78C2C4; */
    box-shadow: 0px 1px 1px rgba(73, 191, 224, .5);
    background: linear-gradient(
                to right,
                rgb(46, 169, 223),
                rgb(123, 144, 210)) ;
}

header a {
    float: right;
    margin-right: 20px;
    padding: 15px;
    text-decoration: none;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
}

header a:hover {
    text-decoration: underline;
    color: aqua;
}

header h1.title {
    float: left;
    margin: 0 20px;
    padding-left: 20px;
    margin-top: 8.5px;
    color: white;
    font-family: 'Beau Rivage', cursive;
}

footer {
    width: 100%;
    height: 40px;
}

footer p, span, div {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

main {
    font-family: 'Noto Serif SC', serif;
    font-style: normal;

    margin: 40px;
    padding: 10px;
    width: auto;
    height: calc(100% - 40px - 54px);
    display: flex;
	flex-direction: row;
}

aside {
    flex: 1;
    width: auto;
    height: 100%;
    text-align: justify;
    display: flex;
}

aside details {
    flex: 1;
    position: fixed;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
    margin: 20px 0;
    padding: 20px 0;
}

aside details summary {
    font-family: 'Noto Serif SC', serif;
    font-style: normal;
    font-weight: 700;
    font-size: larger;
    color: aliceblue;
}

aside details ul li {
    color: aliceblue;
    /* list-style-type: "→"; */
    margin: 0 20px;
    padding: 2px 2px;
}

aside details ul li a {
    text-decoration: none;
    font-family: 'Noto Serif SC', serif;
    font-style: normal;
    color: ghostwhite;
}

aside details ul li a:hover {
    text-decoration: underline;
    color: aqua;
}

article {
    flex: 5;
    overflow: hidden;
    height: 100%;
    width: auto;

    /* background-color: darkgrey; */
    /* margin: 0 0; */
}

article section {
    margin: 10px 30px;
    padding: 20px 50px;
    border-radius: 7.5px;
    color: black;
    hyphens: auto;
    box-shadow: 0px 0px 5px hsla(0,0%,100%,.5);
    background: hsla(0,0%,100%,.5);
    position: relative;
}

section.content p,
section.content div,
section.content span {
    line-height: 1.75rem;
}

section.content p {
    text-indent: 2rem;
}

section.content h3,
section.content h4,
section.content h5,
section.content h6 {
    margin: 24px 0 16px;
}

section.content h1 {
    margin: 40px auto 32px;
    font-size: 40px;
    text-align: center;
}

section.content h2 {
    margin: 32px auto 24px;
    font-size: 32px;
}

section.content h3 {
    font-size: 24px;
}

section.content h4 {
    font-size: 16px;
}

section.content h5 {
    font-size: 14px;
}

section.content h6 {
    font-size: 12px;
}

section.content a:hover {
    box-shadow: 0 1px 0;
}

section.content hr {
    margin: 20px 0;
    height: 2px;
    border-top: 0;
    border-bottom: 0;
}

section.content iframe {
    max-width: 100%;
}

section.content img {
    border-radius: 4px;
    margin: 1rem 0;
    max-width: 100%;
}

.bilibili {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 75%;
}

.bilibili iframe {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

main.home {
    margin: 40px;
    padding: 10px;
    width: auto;
    height: calc(100vh - 40px - 54px - 100px);
    display: block;
}

section.home-info {
    font-family: 'Noto Serif SC', serif;

    width: 100%;
    height: 100%;
    text-align: center;
}